{% load static %}
<html>
 <head>
        <title>Phardeykemmy's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
<body>
     <div class="page-header">
            <h1><a href="/">Her Heritage Blog</a></h1>
        </div>
        

        <div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% extends 'blog/base.html' %}
            
            {% block content %}
             {% for post in posts %}
                <div class="post">
                    <div class="date">
            <p>published: 26.09.2018, 12:14</p>
             </div>
            <h2><a href="">My first post</a></h2>
            <p>A foundation (also a charitable foundation) is a legal category of nonprofit organization that will typically either donate funds and support to other organizations, or provide the source of funding for its own charitable purposes. Foundations incorporate private foundations and public foundations.[1] This type of non-profit organization differs from a private foundation which is typically endowed by an individual or family. </p>
             <p>{{ post.text|linebreaksbr }}</p>
        </div>
         {% endfor %}
        {% endblock %}
        </div>
         </div>
         </div>
          

        <div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
             {% for post in posts %}
                <div class="post">
                    <div class="date">
            <p>published: 27.09.2018, 12:14</p>
             </div>
            <h2><a href="">My second post</a></h2>
            <p>One of the characteristics of the legal entities existing under the status of "Foundations", is a wide diversity of structures and purposes. Nevertheless, there are some common structural elements that are the first observed under legal scrutiny or classification. 
            	<button>Legal requirements followed for establishment</button>
            	<button>Purpose of the foundation</button>
            	<button>Economic activity</button>
                <button>Supervision and management provisions</button>
            	</p>
            	 <p>{{ post.text|linebreaksbr }}</p>
        </div>
         {% endfor %}
        {% endblock %}
        </div>
         </div>
         </div>
</body>
</html>

